@model IEnumerable<Airline.WebClient.Models.Statistical.Invoice>

@{
    ViewData["Title"] = "Danh sách hóa đơn";
}

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Thêm hóa đơn mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().InvoiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PassengerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.InvoiceId">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.InvoiceId">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.InvoiceId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
